default_language_version:
  python: python3.11
repos:
-   repo: https://github.com/pycqa/flake8
    rev: 6.0.0
    hooks:
    -   id: flake8
        args: ['services', 'app.py']
-   repo: https://github.com/alessandrojcm/commitlint-pre-commit-hook
    rev: v2.2.0
    hooks:
        -   id: commitlint
            stages: [commit-msg]
            additional_dependencies: ['@commitlint/config-conventional']
