# Flask
Flask==2.3.2

# Project management
python-dotenv==1.0.0
flake8==6.0.0
isort==5.12.0
pre-commit==4.5.1

# RB Core Backend
rb-core-backend @ git+https://github.com/globalfund/rb-core.backend.git@bde8d596dcf472c17ea5c8c725c2327d8ddc517d

# Kaggle connection
kaggle==1.8.3
# Worldbank connection
wbgapi==1.0.12
# HDX Connection
hdx-python-api==6.6.3

# Data processing
pandas==2.0.3
numpy==1.25.2
pysolr==3.9.0

# database connection
pymongo==4.15.4

# Dataset type processing
python-magic==0.4.27  # File type detection
lxml==4.9.3  # xml processing
SQLAlchemy==2.0.44  # Database connection
pyarrow==14.0.1  # alternative file extensions
pyreadstat==1.2.3  # .sav files
xlrd==2.0.1  # .xls files
openpyxl==3.1.2  # .xlsx files
pyxlsb==1.0.10  # .xlsb files
odfpy==1.4.1  # .odf files
pymysql==1.1.1  # MySQL connection
psycopg==3.1.10  # PostgreSQL connection
pymssql==2.3.11  # MSSQL connection
oracledb==1.4.0  # Oracle connection

# URL connection
requests==2.32.5
urllib3==1.26.20

# Server hosting
gunicorn==23.0.0

# Type detection
chardet==5.2.0

# Data world
datadotworld==2.0.0
