# Flask
Flask==2.3.2

# Project management
python-dotenv==1.0.0
flake8==6.0.0
isort==5.12.0

# Kaggle connection
kaggle==1.6.6
# Worldbank connection
wbgapi==1.0.12
# HDX Connection
hdx-python-api==6.2.6
# quantulum3[classifier], minus numpy and urllib
beautifulsoup4==4.12.3
certifi==2024.2.2
charset==normalizer==2.0.12
docopt==0.6.2
idna==3.6
inflect==5.3.0
joblib==1.1.1
num2words==0.5.13
quantulum3==0.9.0
scikit-learn==0.24.2
scipy==1.5.4
soupsieve==2.3.2.post1
stemming==1.0.1
threadpoolctl==3.1.0
wikipedia==1.4.0

# Data processing
pandas==2.0.3
numpy==1.25.2
pysolr==3.9.0

# database connection
pymongo==4.5.0

# Dataset type processing
python-magic==0.4.27  # File type detection
lxml==4.9.3  # xml processing
SQLAlchemy==2.0.20  # Database connection
pyarrow==14.0.1  # alternative file extensions
pyreadstat==1.2.3  # .sav files
xlrd==2.0.1  # .xls files
openpyxl==3.1.2  # .xlsx files
pyxlsb==1.0.10  # .xlsb files
odfpy==1.4.1  # .odf files
pymysql==1.1.0  # MySQL connection
psycopg==3.1.10  # PostgreSQL connection
pymssql==2.2.8  # MSSQL connection
oracledb==1.4.0  # Oracle connection

# URL connection
requests==2.31.0
urllib3==2.0.7

# Server hosting
gunicorn==20.1.0

# Type detection
chardet==5.1.0
