name: Lint

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: python
      uses: actions/setup-python@v5
      with:
        python-version: 3.11

    - name: install
      run: |
        pip install flake8

    - name: Lint with flake8
      run: |
        flake8 services app.py
